<form name="passwordChangeForm">
  <h2>Password Change Form</h2>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" ng-model="vm.resetData.newPassword" required maxlength="30">
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" ng-model="vm.confirmPassword" required maxlength="30">
  </div>
  <hr>
  <div>
    <button type="submit" ng-click="vm.changePassword()">Change</button>
  </div>
  <div ng-if="vm.message">
    <p>{{vm.message}}</p>
  </div>
</form>
