<form name="passwordRecoveryForm">
    <h2>Password Recovery Form</h2>
    <div class="field">
        <label class="label" for="userName">UserName:</label>
        <input class="input" id="userName" type="text" ng-model="vm.recoveryData.userName" required maxlength="30">
    </div>
    <div baasic-recaptcha class="field"></div>
    <div class="field">
        <button type="submit" class="button" ng-click="vm.recoverPassword()">Send</button>
    </div>
    <p ng-if="vm.message" class="errormessage">{{vm.message}}</p>
</form>
