<form name="registrationForm">
    <h2>Registration Form</h2>
    <div class="field">
        <label for="email" class="label">Email:</label>
        <input id="email" class="input" type="text" ng-model="vm.user.email" required maxlength="30">
    </div>
    <div class="field">
        <label for="userName" class="label">Username:</label>
        <input id="userName" class="input" type="text" ng-model="vm.user.userName" required maxlength="30">
    </div>
    <div class="field">
        <label for="password" class="label">Password:</label>
        <input id="password" class="input" type="password" ng-model="vm.user.password" required maxlength="30">
    </div>
    <div class="field">
        <label for="confirmPassword" class="label">Confirm Password:</label>
        <input id="confirmPassword" class="input" type="password" ng-model="vm.user.confirmPassword" required maxlength="30">
    </div>
    <div baasic-recaptcha class="field"></div>
    <div class="field">
        <button type="submit" class="button" ng-click="vm.register()">Register</button>
    </div>
    <p ng-if="vm.message" class="errormessage">{{vm.message}}</p>
</form>

